.verticalNav {
    display:flex;
    flex-direction:column;
    gap:6px;
    align-items:stretch;

    a {
        display:block;
        width:100%;

        font-size:0.7rem;
        text-decoration:none;

        button {
            width:100%;
        }
    }
}