.toolbar {
    display:flex;
    gap:0.5rem;
    flex-wrap:wrap;
    margin-bottom:1rem;
    button, .uploadBtn {
        border:2px solid #e792ff;
        background:#fff;
        padding:0.4rem 0.8rem;
        border-radius:0.5rem;
        cursor: var(--pointer-cursor-url), auto;
    }
    .uploadBtn {
        position:relative;
        overflow:hidden;
        input[type="file"] {
            position:absolute;
            inset:0;
            opacity:0;
            cursor:pointer;
        }
    }
}


