
.blogPostContainer {

    display:flex;
    max-height:40rem;
    overflow-y:auto;
    gap:1rem;
    padding:0.5rem 0.25rem;
    position:relative; 
    align-items:stretch;

    .blogInfo {
        width:20%;
        position:sticky;
        top:0;
        height:100%;
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        gap:2rem;
        padding-left:1rem;

        .blogCategories {
            display:flex;
            flex-direction:column;
            gap:0.5rem;

            padding-top:1rem;

            .blogCategory {
                padding:0.5rem 0.5rem;
                border:1px solid #ff8cb6;
                font-size:0.8rem;
                background:#ffeef59a;
                backdrop-filter:blur(10px);
                text-align:center;
                font-family: var(--font-pixel-mix);
            }
        }

        .sheepContainer {
            display:flex;
            flex-direction:column;
            gap:1rem;

            img {
                width:100%;
                height:auto;
            }
        }

    }

    .blogContent {
        flex-grow:1;
        display:flex;
        flex-direction:column;
        margin-right:0.5rem;
        .blogSection {

            padding:0.5rem 1rem;

            .blogCategoryTitle {
                margin-top:0.5rem;
                h2 {
                    margin:0;
                    padding:0;
                    color:#a5808d;
                    font-size:1.3rem;
                }
                margin-bottom:1rem;
                font-family: var(--font-pixel-mix);
            }

            .blogItem {
                margin-bottom:1rem;
                position:relative;
                &:hover {
                    cursor: var(--pointer-cursor-url), auto;
                    
                    &::before {
                        content:"";
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%, -50%);
                        width:calc(100% + 30px);
                        height:calc(100% + 12px);
                        outline:1px dashed #d86fb2;
                    }
                }

                h3 {
                    display:flex;
                    align-items:center;
                    margin:0;
                    font-size:1.1rem;
                    padding:0;
                    color:#ff8cb4;
                    font-family: var(--font-pixel-mix);
                    margin-bottom:0.5rem;
                    .blogTags {
                        margin-left:1rem;
                        display:flex;
                        gap:0.5rem;
                        align-items:center;
                        .blogTag {
                            margin-top:0.25rem;
                            font-size:0.8rem;
                            display:block;
                            padding:0.25rem 0.5rem;
                            background:#ff90be;
                            border-radius:0.5rem;
                            color:#fff;
                            font-family: var(--font-nunito);
                        }
                    }
                }

                .blogDate {
                    font-size:0.8rem;
                    color:#bb9f96;
                    font-family: var(--font-pixel-mix);
                    margin:0.5rem 0;
                }

                p {
                    margin:0;
                    color:#674d45;
                    font-family: var(--font-nunito);
                }
            }

            .noPosts {
                font-family: var(--font-pixel-mix);
                color:#ff9fbd;
                padding:2rem 0;
            }
        }

    }
}