@import "@/styles/tilt.module.scss";

@mixin inputarea {
    padding:0.25rem 0.5rem;
    border:1px solid #6c585f;
    border-radius:4px;
    font-size:0.9rem;
    font-family: var(--font-nunito);

    &:focus {
        outline:2px solid #ffbee5;
    }
}

.guestbookRoot {
    display:flex;
    flex-direction:column;
    gap:0.75rem;
    margin-top:1rem;
}

.formInner {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:1rem;

    input {
        @include inputarea;
    }

    textarea {
        height:12rem;
        display:block;
        background:none;
        border:none;
        color:#000;
        width:calc(100% - 1.5rem);
        min-width:15rem;
        margin:0 auto;
        font-family: var(--font-nunito);
        font-size:1rem;
        resize:vertical;
        &:focus {
            outline:none;
        }
    }

    .messageContainer {
        display:flex;
        gap:1rem;
    }
}

.actionsRow {
    display:flex;
    align-items:center;
    gap:0.5rem;
    margin-top:2rem;
    margin-bottom:1rem;
}

.credit {
    margin-left: auto;
}

.listContainer {
    display:flex;
    flex-direction:row;
    gap:1rem;
    margin:1rem 0;
    flex-wrap:wrap;
    justify-content:center;
}

.guestbookItem {

    font-family: var(--font-sourgummy);
    font-size:1.4rem;
    min-width:20rem;
    max-width:20rem;
    width:fit-content;
    background:#fffcbf;
    min-height:18rem;
    height:fit-content;

    box-shadow: 2px 2px 8px -3px #181818a1;
    transform: rotate(var(--tilt));
    .stickyTop {
        height:2.5rem;
        backdrop-filter:brightness(0.95) saturate(2);
    }

    .stickyContent {
        padding:1.1rem;
        font-weight:700;

        .itemMessage {
            font-family: var(--font-nunito);
            font-size:1rem;
            color:#000000ca;
        }
    }

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    z-index: 100;

    &:hover {
        box-shadow: 2px 2px 12px -2px #18181870;
        z-index: 101;
        transform: translateY(-0.25rem) translateZ(1rem) scale(1.03) rotate(calc(var(--tilt) * 2));
    }
}

.itemHeader {
    display:flex;
    justify-content:space-between;
    margin-bottom:0.5rem;
    align-items:center;

    .itemName {
        font-size:1.2rem;
    }

    .itemTime {
        font-size:0.9rem;
        opacity:0.7;
    }
}

.itemName {
    font-weight:700;
}

.itemTime {
    opacity:0.7;
}

.reply {
    margin-top:1rem;
    border:4px dashed #31313131;
    border-radius:0.5rem;
}

.replyHeader {
    display:flex;
    justify-content:space-between;
    margin-bottom:0.25rem;
    font-size:0.9rem;
}

.replyName {
    font-weight:700;
}

.replyTime {
    opacity:0.7;
}

.replyActions {
    margin-top:1rem;
    display:flex;
    gap:0.5rem;

    .replyButton {
        border:1px solid #0000009c;
        color:#0000009c;
        cursor: var(--pointer-cursor-url), auto;
        font-size:0.9rem;
        font-family: var(--font-nunito);
        border-radius:0.5rem;
        width:fit-content;
        padding:0.5rem 1rem;
        &:hover {
            background:#0000009c;
            color:#fff;
        }
    }
}


