.progressBarContainer {
    display:flex;
    align-items:center;
    gap:0.5rem;
    margin: 0.5rem;
}

.progressBar {
    flex-grow:1;
    border:2px solid #fff;
    outline:1px solid #ff6b6b;
    border-radius: 0.5rem;
    overflow:hidden;
    background:#ffffffba;
    .progressBarFill {
        height: 1rem;
        background: #ff6daf;
        border-radius: 0.5rem;
    }
}